.nav-link {
  color: black; /* Default link color */
  text-decoration: none; /* Remove underline */
}

.nav-link:hover {
  color: #716f3c; /* Change color on hover */
}

.nav-link.active {
  color: white; /* Change to white when active */
}

nav {
  background-color: rgb(188, 123, 39); /* Navbar background color */
}
